body {
    background-color: darkblue;
}
.container {
    margin-top: 100px;
    margin-left: 200px;
}
li{
    list-style: none;
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    user-select: none;
    background-color: crimson;

}
.slider {
    background-color: aquamarine;
    height: 5px;
    transition: all .6s ease-in-out;
}
ul {
    margin: 0;
    padding: 0;
}
.tabsMenu {
    position: relative;
}